body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.pop-up_modal-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 30%; */
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    /* made cause of the achor tag */
    text-decoration: inherit;
    color: inherit;
    /* made cause of the achor tag */
    display: flex;
    flex-wrap: wrap;
}

.pop-up_modal-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 101, 253);
}

.card_img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-intro-text-content {
    /* padding: 20 16px; */
    padding-left: 15px;
    margin-bottom: 100px;
    /* made cause of the achor tag */
    text-decoration: inherit;
    color: inherit;
    /* made cause of the achor tag */
}

/* MODAL WITH BUTTON TAG*/

button {
    /* to avoid button deffault settings */
    all: inherit;
}
.modal {
    /* z-index: 3; */
    display: none; /* makes the modal waits to be opened, remove auto open from the modal */
    /* padding-top: 100px; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    margin-top: 4%;
    margin-left: 9%;
    background-color: #fff;
    position: relative;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.modal_close_button {
    white-space: normal;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    cursor: pointer;
}
.modal_close_button:hover {
    color: white;
    background-color: rgb(253, 141, 141);
    border-radius: 3px;
}

/* ORGANIZING CARDS IN A ROW AS COLUMNS*/

.column {
    /* float: left; */
    width: 31%;
}

/* .card-row:after {
    content: "";
    display: table;
    clear: both;
} */
.card-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
}

/* @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
} */

/* NAVBAR */

#navbar {
    overflow: hidden;
    background-color: rgba(3, 3, 3, 0.596);
    border-radius: 5px;
    margin-bottom: 30px;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: inherit;
    font-size: 17px;
}

#navbar a:hover {
    border-radius: 5px;
    background-color: rgba(28, 212, 157, 0.795);
    color: rgb(0, 0, 0);
}


/* title */

#title {
    width: 100%;
    text-align: center;
    background-color: rgba(194, 34, 34, 0.726);
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.page-title {
    margin-left: 4%;
    width: 92%;
    text-align: center;
    background-color: rgba(3, 3, 3, 0.596);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}


iframe {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

img {
    height: 80%;
}